<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <form action="/create-post" method="POST">
        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>
        <fieldset>
          <legend>Crie uma postagem:</legend>
          <label for="tittle"><small>Título</small></label>
          <input type="text" id="tittle" name="tittle" autocomplete="off" />

          <label for="body"><small>Conteúdo</small></label>
          <textarea name="body" id="body"></textarea>

          <br />
          <button>Salvar postagem</button>
        </fieldset>
      </form>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
