<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <h2>Welcome to your dashboard!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cumque
        aperiam similique tempora obcaecati alias voluptates dolore pariatur,
        odit iste sed consequatur rerum? Iusto cupiditate aut recusandae
        molestias. Quos, distinctio.
      </p>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
