<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
    <main>
      <form action="/register" method="POST">
        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>
        <fieldset>
          <legend>Crie sua conta:</legend>
          <label for="username"><small>Usuário</small></label>
          <input type="text" id="username" name="username" autocomplete="off" />

          <label for="password"><small>Senha</small></label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
          />

          <br />
          <button>Registrar</button>
        </fieldset>
      </form>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
